doctype html
html
  - var bodyAttributes = pageData.bodyAttributes
  - var contentAttributes = pageData.contentAttributes
  - var footerAttributes = pageData.footerAttributes
  block templateVariables

  head
    block head
      title
        block pageTitle
          | #{pageTitle}

      block pageScripts
        script(src='!{templateHelper.staticUrl("demo.js")}')

  body&attributes(bodyAttributes)
    block body
      div&attributes(contentAttributes)
        <!-- ********* BEGIN CONTENT ********* -->
        block content
        <!-- ********* END CONTENT ********* -->

      div&attributes(footerAttributes)
        <!-- ********* BEGIN FOOTER ********* -->
        block footer
          | Powered by
          b jade4j
          | .
        <!-- ********* END FOOTER ********* -->
