extends /base.jade

block templateVariables
  - var bodyAttributes = {'class': 'page-a', 'id': 'greetings'}
  - var footerAttributes = templateHelper.copyModelAndUpdate(footerAttributes, {'class': footerAttributes.class + ' extra', 'id': 'footer-greetings'})

block pageTitle
  | This is how we greet!

append pageScripts
  script(src='!{templateHelper.staticUrl("lib/jade4j_demo.js")}')

block content
  h1 #{title}
  div.abc.def#xyz
    table(border=1)
      tr
        th(colspan=2, align="center") Message
      tr
        td Hello...
        td #{name}!
